body{
    background-color: #f9f3ff;
    text-align: center;
}
nav a:link{
    font-size: 20px;
    color: #22b4c7;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #54dbec;
}

h1{
    color: #6800ca;
    font-size: 36px;
    text-decoration: overline underline;
}
h2{
    color: #3cccdf;
    font-size: 30px;
    text-decoration: underline overline;
}
p{
    color: #7517ce;
    font-size: 20px;
}
pre{
    color: #cca58f;
}
div img{
    border-radius: 53px;
    color: #3cccdf;
    border: solid ;
    border-style: dashed ;
    max-width: max-content ;
    max-height: max-content ;
}
div small{
    font-size: larger;
    color: #997c6b;
}
.video{
    border-radius: 10px;
}
.mapa{
    border-radius: 22px;
}